<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>New Comment</title>
	</head>
	<body>
		<form action="new" method="post">
			<label for="user">Enter your name: </label>
			<input type="text" name="user" id="user" />
			<br />
			<br />
			<label for="comment">Enter your comment: </label>
			<textarea name="comment" cols="30" rows="10" id="comment"></textarea>
			<button>Add</button>
		</form>
	</body>
</html>
